* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: 100%;
    max-width: 1040px;
    padding: 15px;
}


h1,h2,h3,h4 {
    color: #487e95;
}

.title {
    font-size: 42px;
}

.h {
    border-bottom: 1px #487e95 dashed;
    text-decoration: none;
    margin-right: 4rem;
    color: black;
}
.h:hover{
    color: #487e95 
}


.a {
    border-bottom: 1px #487e95 dashed;
    text-decoration: none;
    margin-right: 4rem;
    color: black;
}

.a:hover{
    color: #487e95 
}

ul {
    list-style-type: none;
}
footer {
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
    text-align: center;
    margin-bottom: 2px;
    font-size: 0.9rem;
    padding: 0 15px;
}

.links{
    text-align: center;
    margin-top: 60px;
}

.content {
    min-height: calc(100vh - 130px);
}
.footer{
    text-align: center;
    font-size: 0.9rem;
}